{% extends 'base.html' %}
{% block content %}
  <!-- Form Sample -->
  <form id="regForm" action="" method="post" enctype="multipart/form-data" autocomplete="on">
    {% csrf_token %}
    <h2>CTC Health Declartion Form</h2>
    <div class="tab">
      <h3>Personal Information</h3>
      <p>
        <strong>Full Name:</strong><span id="manda">&nbsp;*</span><br />
        <input type="text" name="name" maxlength="255" required id="id_name" autocomplete="name">
      </p>
      <p>
        <strong>Mobile Number:</strong><span id="manda">&nbsp;*</span><br />
        <input type="text" name="mobile_number" maxlength="255" required id="id_mobile_number" autocomplete="mobile_number">
      </p>
      <p>
        <strong>Name of the Company:</strong> (required for visitors, N/A for staff)<span id="manda">&nbsp;*</span><br />
        <input type="text" name="company" maxlength="255" id="id_company" autocomplete="company" value="N/A">
      </p>
      <p>
        <strong>Please indicate purpose of visit to the office:</strong> (required for visitors, N/A for staff)<span id="manda">&nbsp;*</span><br />
        <input type="text" name="purpose" maxlength="255" id="id_purpose" autocomplete="purpose" value="N/A">
      </p>
      <p>
        <strong>Visitor's Pass Number:</strong> (required for visitors, N/A for staff)<span id="manda">&nbsp;*</span><br />
        <input type="text" name="visit_pass_number" maxlength="255" id="id_visit_pass_number" autocomplete="visit_pass_number" value="N/A">
      </p>
      <p>
        <strong>Temperature Recorded:</strong><span id="manda">&nbsp;*</span><br />
        (Kindly note that if you are unwell and/ or if your temperature is 37.4 Degree Celsius and above, you will be refused entry to CTC workplace premises.)<br />
        {{ form.temperature }}
      </p>
      <p>
        <strong>Time of Temperature Screening:</strong><span id="manda">&nbsp;*</span><br />
        <input type="time" name="time_scanned" maxlength="255" id="id_time_scanned" autocomplete="time_scanned">
      </p>
    </div>
    <div class="tab">
      <h3>Health Well-being and Recent Travel History</h3><br />
      <p>
        <strong>Are you currently serving Quarantine Order (QO), Leave of Absence (LOA) or Stay-Home Notice (SHN)?</strong><span id="manda">&nbsp;*</span><br /><br />
        {{ form.is_quarantined }}<br /><br />
      </p>
      <p>
        <strong>Within the last 14 days, have you had contact with a COVID-19 confirmed case or suspect case, or a person issued Quarantine Order (QO) / Leave of Absence (LOA) / Stay-Home Notice (SHN)?</strong><span id="manda">&nbsp;*</span><br /><br />
        {{ form.is_contacted }}<br /><br />
      </p>
      <p>
        <strong>Have you travelled to any country outside of Singapore, including but not limited to nearby locations such as Johor Bahru, Batam and Bintan, in the past 14 days?</strong><span id="manda">&nbsp;*</span><br /><br />
        {{ form.has_travelled }}<br /><br />
      </p>
      <p>
        <strong>Are you feeling unwell or having any symptoms such as fever, cough, runny nose, sore throat, breathlessness?</strong><span id="manda">&nbsp;*</span><br /><br />
        {{ form.is_unwell }}<br /><br />
      </p>
    </div>
    <div class="tab">
      <h3>Acknowledgement</h3><br />
      <p>
        <strong>I acknowledge</strong><span id="manda">&nbsp;*</span>&nbsp;{{ form.acknowledge }}
      </p>
      <p>
        <strong>Date:</strong><span id="manda">&nbsp;*</span><br />
        <input type="date" name="reg_date" maxlength="255" required id="id_reg_date" onchange="reFresh()"><br /><br />
      </p>
    </div>
    <div style="overflow:auto;">
      <div style="float:right;">
        <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
        <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
        <input type="submit" id="subBtn" value="Submit">
      </div>
    </div>

    <div style="text-align:center;margin-top:40px;">
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
    </div>

  </form>

  <!-- End Form Sample-->


  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li id="reg-message-success" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}


  {% load static %}
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
  <script src="{% static 'subs/js/registration.js' %}"></script>
  <script src='https://cdn.jsdelivr.net/gh/FThompson/FormPersistence.js@2.0.6/form-persistence.min.js'></script>
  <script>
    let newform = document.getElementById('regForm');
    FormPersistence.persist(newform);
  </script>
  <script>
    $(document).ready(function() {
        $("#id_company").val("N/A");
        $("#id_purpose").val("N/A");
        $("#id_visit_pass_number").val("N/A");
    });

    function reFresh() {
      confirm("Review your sumbmtted Information.");
      window.location.reload();
    }


  </script>
{% endblock %}
