{% extends 'base.html' %}
{% block content %}

  <h1>CTC Health Declartion Form</h1>
  <!-- Form Sample -->
  <form id="regForm" action="" method="post" enctype="multipart/form-data" autocomplete="on">
    {% csrf_token %}
    <div class="tab">
      <h3>Personal Information</h3>
      <p>
        Full Name:<br />
        <input type="text" name="name" maxlength="255" required id="id_name" autocomplete="name">
      </p>
      <p>
        Mobile Number: <br />
        <input type="text" name="mobile_number" maxlength="255" required id="id_mobile_number" autocomplete="mobile_number">
      </p>
      <p>
        Name of the Company (required for visitors, N/A for staff)<br />
        <input type="text" name="company" maxlength="255" id="id_company" autocomplete="company" value="N/A">
      </p>
      <p>
        Indicate Purpose (required for visitors, N/A for staff)<br />
        <input type="text" name="purpose" maxlength="255" id="id_purpose" autocomplete="purpose" value="N/A">
      </p>
      <p>
        Visitor's Pass Number (required for visitors, N/A for staff)<br />
        <input type="text" name="visit_pass_number" maxlength="255" id="id_visit_pass_number" autocomplete="visit_pass_number" value="N/A">
      </p>
      <p>
        Temperature Recorded<br />
        {{ form.temperature }}
      </p>
      <p>
        Time of Temperature Screening<br />
        <input type="time" name="time_scanned" maxlength="255" id="id_time_scanned" autocomplete="time_scanned">
      </p>
    </div>
    <div class="tab">
      <h3>Health Well-being and Recent Travel History</h3><br />
      <p>
        Are you currently serving quarantine order?
        {{ form.is_quarantined }}
      </p>
      <p>
        Have you had contact with COVID19 patient?
        {{ form.is_contacted }}
      </p>
      <p>
        Have you travelled?
        {{ form.has_travelled }}
      </p>
      <p>
        Are you feeling unwell?
        {{ form.is_unwell }}
      </p>
    </div>
    <div class="tab">
      <h3>Acknowledgement</h3><br />
      <p>
        Acknowledge
        {{ form.acknowledge }}
      </p>
      <p>
        Date<br />
        <input type="date" name="reg_date" maxlength="255" required id="id_reg_date"><br /><br />
      </p>
    </div>
    <div style="overflow:auto;">
      <div style="float:right;">
        <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
        <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
        <input type="submit" id="subBtn" value="Submit">
      </div>
    </div>

    <div style="text-align:center;margin-top:40px;">
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
    </div>

  </form>

  <!-- End Form Sample-->


  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li id="reg-message-success" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}


  {% load static %}
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
  <script src="{% static 'subs/js/registration.js' %}"></script>
  <script src='https://cdn.jsdelivr.net/gh/FThompson/FormPersistence.js@2.0.6/form-persistence.min.js'></script>
  <script>
    let newform = document.getElementById('regForm');
    FormPersistence.persist(newform);
  </script>
  <script>
    $(document).ready(function() {
        $("#id_company").val("N/A");
        $("#id_purpose").val("N/A");
        $("#id_visit_pass_number").val("N/A");
    });
  </script>
{% endblock %}
